<div class="max-h-screen flex flex-col">
  <!-- Main Content -->
  <div class="flex flex-1 items-center justify-center">
    <div class="w-full max-w-7xl bg-white text-gray-800 rounded-lg py-6 sm:p-8 shadow-2xl">
      <!-- Profile Header -->
      <div class="flex flex-wrap items-center justify-between border-b pb-4">
        <div class="flex items-center gap-4">
          <div class="relative w-20 h-20">
            <img [src]="user.profileImage ? user.profileImage : '/avatar.svg'" alt="Profile Picture"
                 class="w-full h-full rounded-full border-2 border-blue-500" />
            <!-- File Upload Input (Hidden) -->
            <input type="file" #fileInput accept="image/*" (change)="uploadProfileImage($event)" hidden>
            <!-- Plus Icon (Click to trigger file selection) -->
            <button (click)="fileInput.click()"
                    class="absolute bottom-0 left-0 bg-green-600 text-white rounded-full w-6 h-6 flex items-center justify-center shadow-md hover:bg-green-700">
              +
            </button>
          </div>
          <div>
            <h2 class="text-2xl font-semibold">
              {{ user.firstName }} {{ user.lastName }}
            </h2>
            <p class="text-sm text-gray-600">{{ user.email }}</p>
            <span class="inline-block bg-red-600 text-xs px-3 py-1 rounded mt-1 text-white">
              {{ user.roleName }}
            </span>
          </div>
        </div>
      </div>
      <!-- Success Alert -->
      <div *ngIf="showSuccessAlert"
           class="relative p-4 mb-4 text-sm text-green-900 rounded-lg bg-green-50 dark:bg-green-100 dark:text-green-700"
           role="alert">
        <span class="font-medium">Success!</span> Your personal information has been successfully updated!
        <button (click)="showSuccessAlert = false"
                class="absolute top-2 right-2 text-green-900 hover:text-green-600 focus:outline-none text-lg">
          &times;
        </button>
      </div>

      <div *ngIf="showErrorAlert"
           class="relative p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-red-100 dark:text-red-800"
           role="alert">
        <span class="font-medium">Error!</span> An error happened while updating your information!
        <button (click)="showErrorAlert = false"
                class="absolute top-2 right-2 text-red-800 hover:text-red-600 focus:outline-none text-lg">
          &times;
        </button>
      </div>


      <!-- User Information (Two-column Layout) -->
      <div class="mt-6 grid grid-cols-1 md:grid-cols-2 gap-8">


        <!-- Left Column: Stacked fields -->
        <div class="space-y-4">
          <!-- First Name -->
          <div>
            <label class="block text-sm text-gray-600 py-3">First Name</label>
            <input type="text" name="firstName" required
                   pattern="^[a-zA-Z]+([ -][a-zA-Z]+)*$"
                   [(ngModel)]="user.firstName" #firstName="ngModel"
                   [readonly]="!editMode"
                   class="px-3 py-2 w-full rounded border border-gray-300"
                   [ngClass]="{'bg-gray-50': editMode, 'bg-gray-200': !editMode}">
            <div *ngIf="firstName.invalid && firstName.touched" class="text-red-500 text-xs mt-1">
              <div *ngIf="firstName.errors?.['required']">First name is required.</div>
              <div *ngIf="firstName.errors?.['pattern']">Invalid first name format.</div>
            </div>
          </div>
          <!-- Last Name -->
          <div>
            <label class="block text-sm text-gray-600 py-3">Last Name</label>
            <input type="text" name="lastName" required
                   pattern="^[a-zA-Z]+([ -][a-zA-Z]+)*$"
                   [(ngModel)]="user.lastName" #lastName="ngModel"
                   [readonly]="!editMode"
                   class="px-3 py-2 w-full rounded border border-gray-300"
                   [ngClass]="{'bg-gray-50': editMode, 'bg-gray-200': !editMode}">
            <div *ngIf="lastName.invalid && lastName.touched" class="text-red-500 text-xs mt-1">
              <div *ngIf="lastName.errors?.['required']">Last name is required.</div>
              <div *ngIf="lastName.errors?.['pattern']">Invalid last name format.</div>
            </div>
          </div>
          <!-- Email Address -->
          <div>
            <label class="block text-sm text-gray-600 py-3">Email Address</label>
            <input type="email" name="email" required
                   [(ngModel)]="user.email" #email="ngModel"
                   [readonly]="!editMode"
                   class="w-full ml-2 px-3 py-2 rounded border border-gray-300"
                   [ngClass]="{'bg-gray-50': editMode, 'bg-gray-200': !editMode}">

            <div *ngIf="emailError" class="text-red-500 text-xs mt-1">
              {{ emailError }}
            </div>
          </div>
          <div *ngIf="editMode">
            <label class="block text-sm text-gray-600 py-3">Change Password</label>
            <input type="password" name="password" required
                   pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                   [(ngModel)]="newPassword" #passwordField="ngModel"
                   class="w-full px-3 py-2 rounded border border-gray-300"
                   [ngClass]="{'bg-gray-50': editMode}">
            <div *ngIf="passwordField.invalid && passwordField.touched" class="text-red-500 text-xs mt-1">
              <div *ngIf="passwordField.errors?.['required']">Password is required.</div>
              <div *ngIf="passwordField.errors?.['pattern']">
                Password must be at least 8 characters long, contain an uppercase letter, a lowercase letter, a number, and a special character.
              </div>
            </div>
          </div>

        </div>


        <div class="space-y-4">
          <div>
            <label class="block text-sm text-gray-600 py-3">Phone Number</label>
            <input type="text" name="phoneNumber" required
                   pattern="^(?:\+212|0)[5-7]\d{8}$"
                   [(ngModel)]="user.phoneNumber" #phoneNumber="ngModel"
                   [readonly]="!editMode"
                   class="px-3 py-2 w-full rounded border border-gray-300"
                   [ngClass]="{'bg-gray-50': editMode, 'bg-gray-200': !editMode}">
            <!-- Built-in validation errors -->
            <div *ngIf="phoneNumber.invalid && phoneNumber.touched" class="text-red-500 text-xs mt-1">
              <div *ngIf="phoneNumber.errors?.['required']">Phone number is required.</div>
              <div *ngIf="phoneNumber.errors?.['pattern']">Invalid Moroccan phone number format.</div>
            </div>
            <!-- Backend uniqueness error for phone -->
            <div *ngIf="phoneError" class="text-red-500 text-xs mt-1">
              {{ phoneError }}
            </div>
          </div>

          <div>
            <label class="block text-sm text-gray-600 py-3">Role</label>
            <div [ngSwitch]="user.roleName">
              <select class="bg-gray-200 px-3 py-2 w-full rounded border border-gray-300" disabled>
                <option *ngSwitchCase="'ROLE_SECURITY_AGENT'" selected>Security Agent</option>
                <option *ngSwitchCase="'ROLE_ADMIN'" selected>Administrator</option>
                <option *ngSwitchDefault selected>Unknown</option>
              </select>
            </div>
          </div>

          <div>
            <label class="block text-sm text-gray-600 py-3">Assigned Section</label>
            <input type="text" readonly
                   class="bg-gray-200 px-3 py-2 w-full rounded border border-gray-300"
                   [value]="user.sectionName ? user.sectionName : 'No assigned section'"
            >
          </div>
          <div *ngIf="editMode">

            <label class="block text-sm text-gray-600 py-3">Confirm Password</label>
            <input type="password" name="confirmPsw" required
                   [(ngModel)]="confirmPassword" #confirmField="ngModel"
                   class="w-full px-3 py-2 rounded border border-gray-300"
                   [ngClass]="{'bg-gray-50': editMode}"
                   (input)="validatePasswords()">
            <div *ngIf="(confirmField.invalid || passwordMismatch) && confirmField.touched" class="text-red-500 text-xs mt-1">
              <div *ngIf="confirmField.errors?.['required']">Please confirm your password.</div>
              <div *ngIf="passwordMismatch">Passwords do not match!</div>
            </div>
          </div>
        </div>


      </div>

      <!-- Actions (Button inside the card) -->
      <div class="mt-6">
        <button (click)="editMode ? saveChanges() : toggleEditMode()"
                class="bg-green-600 px-6 py-2 rounded text-white text-sm hover:bg-green-800">
          {{ editMode ? 'Save Changes' : 'Edit Personal Information' }}
        </button>
      </div>
    </div>
  </div>
</div>
