<!-- users.component.html -->
<div class="flex h-screen">
  <div class="px-7 pt-5 overflow-auto">
    <table class="px-7 pt-5 w-full border-collapse border border-gray-200 shadow-sm rounded-lg overflow-hidden">
      <thead class="bg-[#2e2e48] text-white">
      <tr>
        <th class="p-4 text-left"></th>
        <th class="p-4 text-left">First name</th>
        <th class="p-4 text-left">Last Name</th>
        <th class="p-4 text-left">Birth of birth</th>
        <th class="p-4 text-left">Role</th>
        <th class="p-4 text-left">Email</th>
        <th class="p-4 text-left">Phone Number</th>
        <th class="p-4 text-center">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users" class="bg-gray-100 hover:bg-gray-200 transition-all">
        <td class="p-4 text-left">
          <button class="hover:opacity-80 viewBtns" type="button">
            <img src="/eye.png" alt="Voir" class="h-6 w-6" />
          </button>
        </td>
        <td class="p-4">{{ user.firstName }}</td>
        <td class="p-4">{{ user.lastName }}</td>
        <td class="p-4">{{ user.birthDate | date }}</td>
        <td class="p-4">
          <span [ngSwitch]="user.roleName">
              <span *ngSwitchCase="'ROLE_SECURITY_AGENT'" class="bg-red-300 rounded px-2 py-1">
                Security Agent
              </span>
              <span *ngSwitchCase="'ROLE_ADMIN'" class="bg-green-200 rounded px-2 py-1">
                Administrator
              </span>
              <span *ngSwitchDefault class="bg-red-900 rounded px-2 py-1">
                Unknown
              </span>
            </span>
        </td>
        <td class="p-4">{{ user.email }}</td>
        <td class="p-4">{{ user.phoneNumber }}</td>
        <td class="p-4 flex items-center justify-center gap-3">
          <!-- Edit Button -->
          <button class="hover:opacity-80 modBtns" type="button">
            <img src="/edit.png" alt="Modifier" class="h-6 w-6" />
          </button>

          <!-- Delete Button -->
          <button class="hover:opacity-80 deleteBtns" (click)="openDeleteModal(user)">
            <img src="/trash.png" alt="Supprimer" class="h-6 w-6" />
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


<app-delete-user-modal
  [user]="selectedUser"
  [show]="showDeleteModal"
  (confirmDelete)="confirmDelete()"
  (cancel)="closeDeleteModal()"
>
</app-delete-user-modal>
